.cell{
    display: flex;
    border: 1px solid black;
    background-color: white;
    width: 20px;
    flex: 1;
}

.row{
    display: flex;
    justify-content: space-evenly;
    height:20px;
    flex: 1;
}

#container{
    display: flex;
    flex-direction:column;
    width: 800px;
    height: 800px;
}